* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  color: inherit;
  word-break: break-all;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  background-color: inherit;
  border: none;
}
/* header */

.header-wraper {
  width: 100%;
  height: 110px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background-color: #111;
  z-index: 100;
}

.header-img {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header-login {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
}

.header-login-list {
  font-size: 12px;
  font-weight: 700;
  color: #b1b1b1;
  margin-right: 15px;
}

.header-login-list:last-child {
  margin-right: 0;
}

.inquiry {
  position: absolute;
  top: 40px;
  right: 20px;
  display: flex;
}

.inquiry-list {
  font-size: 12px;
  font-weight: 700;
  color: #987346;
  letter-spacing: 0.5px;
  margin-right: 15px;
}

.inquiry-list:last-child {
  margin-right: 0;
}

.inquiry-list .fas {
  color: #987346;
  margin-right: 5px;
}

.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 45px;
}

.header-list-item {
  color: #fff;
  padding: 0 50px;
}

/* banner */

.banner-wraper {
  width: 100%;
  height: 500px;
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  object-fit: cover;
  opacity: 0.8;
}

.banner-logo {
  width: 100px;
  height: 100px;
  z-index: 50;
  border-radius: 50%;
}

.banner-logo-division {
  width: 100px;
  height: 2px;
  background-color: #fff;
  z-index: 50;
  margin-top: 20px;
}

.banner-title {
  font-size: 60px;
  color: #fff;
  z-index: 50;
  padding-bottom: 20px;
}

.banner-desc {
  font-size: 18px;
  color: #fff;
  text-align: center;
  z-index: 50;
  padding-bottom: 40px;
}

/* grade */

.grade-wraper {
  width: 100%;
  background-color: #f5f0e9;
  padding: 0 80px;
}

.grade {
  width: 100%;
  background-color: #fff;
}

.grade-title {
  width: 100%;
  font-size: 40px;
  text-align: center;
  padding-top: 50px;
  font-weight: 400;
}

.grade-title strong {
  font-size: 60px;
  font-weight: 700;
}

.grade-desc {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.grade-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
}

.grade-list-item {
  width: 200px;
  height: 200px;
}

.grade-list-item-img {
  width: 100%;
  height: 100%;
}

.grade-desc-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
}

.grade-desc-list-item {
  width: 200px;
  height: 100px;
  text-align: center;
}

.grade-explain {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.grade-explain strong {
  line-height: 2;
}

/* explain */

.explain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f5f0e9;
  padding: 0 80px;
}

.dolpin-explain {
  width: 100%;
  text-align: center;
}

.dolpin-explain .fa-water {
  width: 100%;
  color: #5dacbd;
  padding-top: 60px;
}

.Dolpin-explain-title {
  font-size: 22px;
  color: #382e2c;
  font-weight: 700;
}

.dolpin-explain-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding: 20px 0 45px;
}

.Dolpin-Benefits-expain {
  text-align: center;
  width: 100%;
}

.Dolpin-Benefits-expain .fa-water {
  color: #5dacbd;
}

.dolpin-Benefits-expain-title {
  font-size: 22px;
  color: #382e2c;
  font-weight: 700;
}

.Dolpin-Benefits-list {
  padding: 20px 0 45px;
}

.Dolpin-Benefits-list-item {
  display: inline-block;
  position: relative;
  width: 430px;
  height: 122px;
  border-bottom: 1px solid #111;
  margin-bottom: 10px;
}

.Dolpin-Benefits-list-item:nth-child(2n-1) {
  margin-right: 30px;
}

.Dolpin-Benefits-list-item h2 {
  margin-bottom: 5px;
  font-size: 22px;
  color: #5dacbd;
}

.Dolpin-Benefits-list-item p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.Dolpin-Benefits-list-item .fas {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 50px;
}

.card {
  padding: 0 80px;
  text-align: center;
  background-color: #fff;
}

.card-title {
  padding-top: 50px;
  font-size: 34px;
  color: #382e2c;
}

.card-desc {
  padding-top: 10px;
  font-size: 16px;
  color: #62605f;
}

.card-list {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.card-list-item {
  text-align: center;
  width: 240px;
  height: 250px;
  margin-bottom: 50px;
}

.card-list-item .fas {
  font-size: 50px;
  text-align: center;
  padding: 50px;
  border-radius: 50%;
  background-color: #f6f6f6;
  margin-bottom: 20px;
}

.card-list-item h2 {
  margin-bottom: 5px;
  font-size: 22px;
  color: #5dacbd;
}

.card-list-item p {
  font-size: 14px;
  line-height: 1.6;
}

/* card-detail-info */

.card-detail-info {
  width: 100%;
  padding: 80px;
}

.card-detail-info-list {
  width: 100%;
  border-top: 2px solid #111;
}

.card-detail-info-list-item {
  width: 100%;
}

.card-detail-info-list-item button {
  position: relative;
  width: 100%;
  text-align: left;
}

.card-detail-info-list-item button .fa-plus {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.card-detail-info-list-item button:focus .fa-plus {
  display: none;
}

.card-detail-info-list-item button h1 {
  font-size: 20px;
  color: #382e2c;
  padding: 20px;
  border-bottom: 1px solid #62605f;
}

.card-detail-info-list-item-hidden {
  height: 0;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}

.card-detail-info-list-item-hidden li {
  display: flex;
  border-bottom: 1px solid #62605f;
}

.card-detail-info-list-item-hidden h2 {
  display: flex;
  align-items: center;
  width: 30%;
  font-weight: 400;
  padding: 20px;
  background-color: #e2dfdc;
}

.card-detail-info-list-item-hidden p {
  padding: 20px;
  width: 70%;
}

.card-detail-info-list-item:nth-child(1)
  button:focus
  .card-detail-info-list-item-hidden {
  height: 569px;
}

.card-detail-info-list-item:nth-child(2)
  button:focus
  .card-detail-info-list-item-hidden {
  height: 205px;
}

.card-detail-info-list-item:nth-child(3)
  button:focus
  .card-detail-info-list-item-hidden {
  height: 248px;
}

.card-detail-info-list-item:nth-child(4)
  button:focus
  .card-detail-info-list-item-hidden {
  height: 211px;
}

/* center-info */

.center-info {
  width: 100%;
  padding: 0 80px 80px 80px;
}

.center-info .fa-water {
  color: #5dacbd;
}

.center-info-title {
  font-size: 22px;
  color: #382e2c;
  font-weight: 700;
  margin-bottom: 10px;
}

.center-info-desc {
  font-size: 16px;
  margin-bottom: 40px;
}

.center-info-list {
  display: flex;
}

.center-info-list-item {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.center-info-list-item .fas {
  font-size: 35px;
  margin-right: 15px;
}

.center-info-list-item p {
  font-size: 20px;
  font-weight: 700;
  color: #5dacbd;
}

/* footer */

footer {
  position: relative;
  width: 100%;
  height: 144px;
  padding: 30px;
  background-color: #b1b1b1;
}

.footer-deail-info {
  display: flex;
  align-items: center;
}

.footer-deail-info-list {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  padding: 0 8px;
  border-right: 1px solid #fff;
  white-space: nowrap;
}

.footer-deail-info-list:last-child {
  border: none;
}

.footer-deail-info-list:hover {
  text-decoration: underline;
}

.footer-comp-info {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.footer-comp-info-list {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
  padding: 0 8px;
}

.footer-sns {
  display: flex;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  border: 1px solid #fff;
  border-radius: 15px;
}

.footer-sns-list {
  padding: 8px;
  transition: font-size 250ms ease-in-out;
}

.footer-sns-list:hover {
  font-size: 20px;
}

.footer-sns-list .fab {
  color: #111;
}
