* {
  box-sizing: border-box;
  margin: 0;
  color: inherit;
  font-family: "Roboto", sans-serif;
  word-break: keep-all;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  background-color: inherit;
  border: none;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

/* banner */

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  max-width: 1500px;
  margin: 0 auto;
  color: #fff;
  background-color: #111;
}

.banner-title {
  font-size: 60px;
  margin-bottom: 30px;
}

.banner-title .fa-play-circle {
  color: rgb(63, 150, 114);
  margin-right: 10px;
}

.banner-desc {
  font-size: 16px;
  margin-bottom: 20px;
}

.banner-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  background-color: rgb(211, 95, 17);
  border-radius: 8px;
  transition: all 250ms ease-in-out;
}

.banner-link:hover {
  font-size: 18px;
}

/* player */

.player {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: #111;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
}

.player-main {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 600px;
  background-color: #fff;
  margin: 20px auto;
}

.player-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
}

.user-like-bt-box {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 50px;
  width: 580px;
}

.user-like-bt-box .far {
  margin-right: 10px;
}

@keyframes like-bt {
  0% {
    color: #fff;
  }

  50% {
    color: rgb(255, 0, 0);
  }

  100% {
    color: #fff;
  }
}

@keyframes hate-bt {
  0% {
    color: #fff;
  }

  50% {
    color: rgb(4, 0, 255);
  }

  100% {
    color: #fff;
  }
}

.like-bt {
  padding: 0 20px;
  font-size: 20px;
  color: #111;
}

.like-bt.active {
  color: rgb(255, 0, 0);
}

.like-bt:hover {
  animation-name: like-bt;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.hate-bt {
  padding: 0 20px;
  font-size: 20px;
}

.hate-bt.active {
  color: rgb(4, 0, 255);
}

.hate-bt:hover {
  animation-name: hate-bt;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.player-img-stus {
  display: flex;
  position: absolute;
  bottom: 100px;
  width: 580px;
}

.player-img-stus .img-stus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 20px 20px;
  margin: 0 20px;
  border-radius: 50%;
  color: rgb(136, 136, 136);
  background-color: #fff;
  border: 3px solid rgb(136, 136, 136);
  font-size: 20px;
  margin-left: 80px;
  transition: margin-left 1s ease;
}

.player-slide {
  position: relative;
  width: 580px;
  min-width: 580px;
  height: 80%;
  padding: 30px 80px;
}

.player-slide-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-img-box {
  width: 400%;
  height: 100%;
  transform: translateX(0);
  transition: transform 250ms ease;
}

.slide-img-box img {
  float: left;
  width: 25%;
  height: 100%;
  object-fit: cover;
}

.player-slide .fa-chevron-left {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  font-size: 50px;
}

.player-slide .fa-chevron-right {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  font-size: 50px;
}

.player-desc-slide {
  height: 100%;
  padding: 30px 50px;
}

.player-desc-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-desc-box {
  width: 400%;
  height: 100%;

  transform: translateX(0);
}

.slide-desc-box li {
  display: flex;
  flex-direction: column;
  float: left;
  width: 25%;
  height: 100%;
}

.slide-desc-box li ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slide-desc-box li ul li {
  width: 100%;
}

/* items */

.items {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  padding: 60px;
  margin: 0 auto;
  color: #111;
  background-color: #f8f8f8;
}

.items-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items-list-item {
  display: inline-block;
  width: 350px;
  text-align: center;
  margin-right: 30px;
}

.items-list-item:nth-child(3) {
  margin-right: 0;
}

.items-list-item .fas {
  font-size: 50px;
  margin-bottom: 20px;
  color: rgb(255, 0, 0);
}

.items-list-item h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

/* appeal */

.appeal {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.appeal-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.appeal-list-item {
  width: 100%;
  height: 800px;
  padding: 80px;
}

.appeal-list-item:nth-child(1) {
  background-image: url(./assets/appeal-img-1.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.appeal-list-item:nth-child(2) {
  background-image: url(./assets/appeal-img-2.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.appeal-list-item:nth-child(3) {
  background-image: url(./assets/appeal-img-3.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.appeal-list-item-paragraph {
  font-size: 30px;
  color: #fff;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  padding: 60px;
  margin: 0 auto;
  color: #111;
  background-color: #fff;
}

.footer-title {
  width: 50%;
  font-size: 20px;
  text-align: center;
}

.footer-info {
  width: 50%;
  font-size: 18px;
}

.footer-info-paragraph {
  width: 250px;
  margin: 0 auto;
}
