* {
  box-sizing: border-box;
  margin: 0;
  color: inherit;
  font-family: "Roboto", sans-serif;
  word-break: keep-all;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input,
textarea {
  background-color: inherit;
  border: none;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

/* banner */

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  max-width: 1500px;
  margin: 0 auto;
  color: #fff;
  background-color: #111;
}

.banner-title {
  font-size: 60px;
  margin-bottom: 30px;
}

.banner-title .fa-play-circle {
  color: rgb(63, 150, 114);
  margin-right: 10px;
}

.banner-desc {
  font-size: 16px;
  margin-bottom: 20px;
}

.banner-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  background-color: rgb(211, 95, 17);
  border-radius: 8px;
  transition: all 250ms ease-in-out;
}

.banner-link:hover {
  font-size: 18px;
}

/* player */

.player {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: #111;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
}

.player-main {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 710px;
  background-image: url(./assets/player-back-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin: 20px auto;
  border-radius: 16px;
}

.player-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  border-radius: 16px;
}

.player-slide {
  position: relative;
  width: 580px;
  min-width: 580px;
  height: 450px;
  padding: 30px 80px;
}

.player-slide-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-img-box {
  width: 400%;
  height: 100%;
  border-radius: 16px;
  transform: translateX(0);
  transition: transform 250ms ease;
}

.slide-img-box img {
  float: left;
  width: 25%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.player-operater {
  width: 580 px;
  min-width: 580 px;
  background-color: #fffaee;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px 30px;
  margin-top: 25px;
}

.operater-icon-list {
  width: 100%;
  display: column;
}

.operater-icon-list-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.operater-icon-list-box li {
  padding: 5px;
  border: 1px solid #fddd93;
  border-radius: 50%;
}

.operater-icon-list-box li button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.operater-icon-list-play {
  width: 100px;
  height: 100px;
  background: #fffdf8;
  color: #f26600;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.operater-icon-list-play i {
  font-size: 30px;
  transform: translateX(3px);
}

.operater-icon-list-side {
  width: 60px;
  height: 60px;
  background-color: #ffeedb;
}

.operater-icon-list-side i {
  font-size: 22px;
  color: #838383;
}

li.operater-icon-list-end {
  border: none;
}

li.operater-icon-list-end i {
  font-size: 16px;
  color: #838383;
}

.operater-icon-list-desc-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.operater-icon-list-desc-box li:nth-child(3) {
  padding: 0 30px;
}

.player-operater-state {
  width: 100%;
  height: 20px;
  background: #fff8ed;
  box-shadow: #fdcd5b 0px 30px 60px -12px inset,
    #ff6c01 0px 18px 36px -18px inset;
  border-radius: 64px;
  margin-bottom: 10px;
}

.player-operater-state-bar {
  width: 90px;
  height: 20px;
  background: linear-gradient(to right, #fdcd5b, #ff6c01);
  border-radius: 64px;
  transition: width 1s ease;
}

.player-operater-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-desc-slide {
  height: 100%;
  padding: 30px 50px;
}

.player-desc-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-desc-box {
  width: 400%;
  height: 100%;
  transform: translateX(0);
}

.slide-desc-lsit {
  display: flex;
  flex-direction: column;
  float: left;
  width: 25%;
  height: 100%;
}

.slide-desc-lsit-desc {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 525px;
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
  color: #fff;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 24px;
}

.slide-desc-lsit-title {
  font-size: 60px;
  margin-bottom: 30px;
  padding: 0 50px;
}

.slide-desc-lsit-desc .detail-info-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50px;
  bottom: 50px;
  width: 200px;
  appearance: button;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #fff, #f8eedb);
  border: 0 solid #e5e7eb;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #482307;
  column-gap: 1rem;
  cursor: pointer;
  font-size: 100%;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  outline: 2px solid transparent;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: none;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.detail-info-button:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15),
    0px 1px 1px rgba(81, 41, 10, 0.15);
  transform: translateY(0.125rem);
}

.detail-info-button:focus {
  box-shadow: rgba(72, 35, 7, 0.46) 0 0 0 4px,
    -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
}

/* items */

.items {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  padding: 60px;
  margin: 0 auto;
  color: #111;
  background-color: #f8f8f8;
}

.items-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items-list-item {
  display: inline-block;
  width: 350px;
  text-align: center;
  margin-right: 30px;
}

.items-list-item:nth-child(3) {
  margin-right: 0;
}

.items-list-item .fas {
  font-size: 50px;
  margin-bottom: 20px;
  color: rgb(255, 0, 0);
}

.items-list-item h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

/* appeal */

.appeal {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.appeal-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.appeal-list-item {
  width: 100%;
  height: 800px;
  padding: 80px;
}

.appeal-list-item:nth-child(1) {
  background-image: url(./assets/appeal-img-1.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.appeal-list-item:nth-child(2) {
  background-image: url(./assets/appeal-img-2.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.appeal-list-item:nth-child(3) {
  background-image: url(./assets/appeal-img-3.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.appeal-list-item-paragraph {
  font-size: 30px;
  color: #fff;
}

/* footer */

footer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  padding: 60px;
  margin: 0 auto;
  color: #111;
  background-color: #fff;
}

.footer-title {
  width: 50%;
  font-size: 20px;
  text-align: center;
}

.footer-info {
  width: 50%;
  font-size: 18px;
}

.footer-info-paragraph {
  width: 250px;
  margin: 0 auto;
}
