body {
  font-family: "Noto Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.625;
}

ol,
ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

/* header */

header {
  display: flex;
  width: 100%;
  height: 50.85px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  position: relative;
  background-color: rgb(0, 0, 0);
  padding: 0 20px;
}

header a {
  display: flex;
  align-items: center;
  padding: 16px 16px 16px 0;
}

header .fas {
  color: #fff;
  margin-right: 10px;
}

header .header-mobile-none {
  display: none;
}

/* banner */

.banner {
  margin: 0 20px;
}

.banner-group {
  width: 100%;
  border-bottom: 1px solid rgb(223, 223, 223);
  display: flex;
  flex-direction: column;
}

.banner .icon-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.IKEA-logo {
  width: 75px;
  height: 30px;
  margin: 15px 0;
}

.banner div {
  display: flex;
}

.banner .user-icon-group img {
  width: 40px;
  height: 40px;
  padding: 10px;
}

.banner .search {
  display: block;
  position: relative;
  width: 100%;
}

.banner .search img {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 7px;
  padding: 7px;
}

.banner form input {
  width: 100%;
  height: 44px;
  font-size: 16px;
  padding: 8px 54px;
  background-color: rgb(245, 245, 245);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 100px;
  margin-bottom: 16px;
}

.banner .search .camera-img {
  right: 20px;
}

.banner .search .loupe-img {
  left: 20px;
}

/* campain */

.campain {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 40px 20px;
}

.campain-img {
  display: block;
  width: 100%;
}

.campain-img img {
  object-fit: cover;
  width: 100%;
}

.campain-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 60px;
  background-color: #ffdb00;
}

.campain-desc h1 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.campain-desc p {
  font-size: 14px;
  margin-bottom: 32px;
}

.campain-desc button {
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  padding: 0 18px;
  border-radius: 34px;
  background-color: #111;
  color: #fff;
}

/* promotion */

.promotion {
  width: 100%;
  margin: 40px 20px;
}

.promotion .promotion-title {
  font-size: 18px;
  margin-bottom: 40px;
}

.promotion-list {
  display: flex;
  overflow: scroll;
}

.promotion-list li {
  margin-right: 20px;
}

.promotion-list .list-box {
  position: relative;
  width: 260px;
  height: 376px;
  padding: 32px;
}

.promotion-list .list-family {
  background-color: #a4b9c2;
}

.promotion-list .list-IKEAlap {
  background-color: #cbd6e7;
}

.promotion-list .list-transball {
  color: #fff;
  background-color: #06432d;
}

.promotion-list .list-installsevice {
  background-color: #ecbc53;
}

.promotion-list li:hover div h2 {
  text-decoration: underline #484848 2px;
}

.promotion-list h2 {
  font-size: 18px;
  margin-bottom: 4px;
}

.promotion-list p {
  font-size: 16px;
}

.promotion-list img {
  display: block;
  width: 100%;
  height: auto;
}

.fa-arrow-circle-right {
  position: absolute;
  left: 32px;
  bottom: 32px;
  font-size: 56px;
}

/* notice */

.notice {
  width: 100%;
  margin: 40px 20px;
  padding: 32px;
  background-color: #ffd285;
}

.notice h1 {
  font-size: 18px;
  margin-bottom: 8px;
}

.notice p {
  font-size: 14px;
  margin-bottom: 32px;
}

.notice a {
  display: inline-block;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  padding: 0 24px;
  border-radius: 64px;
  background-color: rgb(0, 0, 0);
}

/* recommend-product */

.recommend-product {
  margin: 40px 20px;
}

.recommend-product h1 {
  font-size: 18px;
  line-height: 1.4444444444;
  font-weight: 700;
  margin-bottom: 32px;
}

.recommend-product-box {
  display: flex;
  overflow: scroll;
}

.recommend-product-list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 113px;
  margin: 40px 10px 20px;
}

.recommend-product-list:last-child {
  margin-right: 0;
}

.recommend-product-list .user-like {
  position: absolute;
  top: -40px;
  right: 0;
  width: 40px;
  height: 40px;
  font-size: 17px;
  color: #929292;
  border: none;
}

.recommend-product-list img {
  width: 100%;
  margin-bottom: 30px;
}

.recommend-product-list .recommend-product-list-img-hover {
  display: none;
}

.recommend-product-list-box:hover .recommend-product-list-img {
  display: none;
}

.recommend-product-list-box:hover .recommend-product-list-img-hover {
  display: block;
}

.recommend-product-desc h3 {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 8px;
}

.recommend-product-desc p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #484848;
  margin-bottom: 12px;
}

.recommend-price-box .fa-won-sign {
  font-size: 12px;
  line-height: 1.6;
  vertical-align: text-top;
}

.recommend-price-box .recommend-price {
  font-size: 16px;
  line-height: 0.9090909091;
  margin-bottom: 8px;
}

.star-score {
  font-size: 10px;
}

.recommend-review {
  display: flex;
  margin-bottom: 8px;
}

.recommend-review .review-number {
  font-size: 12px;
  font-weight: 400;
  color: #484848;
}

.recommend-product-desc .shopping-bucket {
  margin-left: 73px;
}

.recommend-product-desc .fa-shopping-basket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #0058a3;
  border-radius: 50%;
}

/* new-product */

.new-product {
  width: 100%;
  margin: 40px 20px;
}

.new-product h2 {
  font-size: 18px;
  line-height: 1.4444444444;
  font-weight: 700;
  margin-bottom: 40px;
}
.new-product a {
  width: 100%;
}

.new-product img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.new-product .new-product-deail-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-size: 14px;
  font-weight: 700;
  margin-top: 12px;
  padding: 4px 0;
  border-bottom: 1px solid #dfdfdf;
}

/* office-product */

.office-product {
  width: 100%;
  margin: 40px 20px;
}

.office-product h2 {
  font-size: 18px;
  line-height: 1.4444444444;
  font-weight: 700;
  margin-bottom: 8px;
}

.office-product .office-product-desc {
  font-size: 14px;
  color: #484848;
  line-height: 1.571;
  margin-bottom: 32px;
}

.office-product img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.office-product .office-product-deail-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-size: 14px;
  font-weight: 700;
  margin-top: 12px;
  padding: 4px 0;
  border-bottom: 1px solid #dfdfdf;
}

/* solution */

.solution {
  width: 100%;
  margin: 40px 20px;
}

.solution h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4444444444;
  margin-bottom: 32px;
}

.solution-box {
  display: flex;
  overflow: scroll;
}

.solution .solution-list {
  position: relative;
  width: 231.75px;
  height: 309px;
  padding: 40px 32px 32px;
  background-color: #00853e;
  margin-right: 20px;
}

.solution .solution-list:last-child {
  margin-right: 0;
}

.solution-list .fa-arrow-alt-circle-right {
  font-size: 40px;
  position: absolute;
  bottom: 32px;
}

.solution .solution-title {
  width: 167.75px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.solution a {
  display: block;
  width: 167.75px;
}

.solution img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.solution-list div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 32px;
}

.solution-list div button {
  display: inline-flex;
  justify-self: center;
  align-items: center;
  height: 40px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333;
  white-space: nowrap;
  text-align: center;
  padding: 0 24px;
  border-radius: 64px;
  background-color: #fff;
}

/* magagine */

.magazine {
  width: 100%;
}

.magagine-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 40px 20px;
}

.magagine-list img {
  width: 100%;
  margin-bottom: 16px;
}

.magagine-list-box {
  margin-bottom: 40px;
}

.magagine-list-box:last-child {
  margin-bottom: 0;
}

.magagine-list-box img {
  width: 100%;
  margin-bottom: 16px;
}

.magagine-list-box button {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3333333333;
  padding: 0 24px;
}

/* sevice */
.service {
  width: 100%;
  margin: 40px 20px;
}

.service li {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 32px;
  margin-bottom: 1px;
}

.service li:last-child {
  margin-bottom: 0;
}

.service li i {
  margin-bottom: 4px;
}

.service li h3 {
  font-size: 16px;
  color: #111111;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 4px;
}

.service li p {
  font-size: 14px;
  color: #484848;
  line-height: 1.571;
  margin-bottom: 4px;
}

.service li a {
  font-size: 14px;
  color: #484848;
  line-height: 1.571;
  text-decoration: underline;
}

/* home-furnishing */

.home-furnishing {
  width: 100%;
  margin: 40px 20px;
}

.home-furnishing-title {
  font-size: 18px;
  line-height: 1.4444444444;
  font-weight: 700;
  margin-bottom: 4px;
}

.home-furnishing-box {
  display: flex;
  position: sticky;
  top: 0;
  padding: 20px 0 16px;
  background-color: #fff;
  overflow: scroll;
}

.home-furnishing-box li {
  height: 40px;
  font-size: 12px;
  font-weight: 700;
  line-height: 3.333333333333333;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 64px;
  white-space: nowrap;
  padding: 0 24px;
  margin-right: 12px;
}

.home-furnishing .home-furnishing-img img {
  display: inline-block;
  width: 40%;
}

.home-furnishing .home-furnishing-img {
  text-align: right;
  margin: 0;
}

.home-furnishing-more {
  text-align: center;
}

.home-furnishing button {
  font-size: 14px;
  font-weight: 700;
  line-height: 2.857142857142857;
  color: #fff;
  background-color: #111;
  padding: 0 24px;
  margin: 40px 0;
}

/* detail-info */

.detail-info {
  display: flex;
  overflow: scroll;
  margin: 20px;
}

.detail-info img {
  display: block;
  width: 260px;
  height: 260px;
}

.detail-info .detail-info-list {
  margin-right: 20px;
}

.detail-info .detail-info-list:last-child {
  margin-right: 0;
}

.detail-info .info-box {
  position: relative;
  width: 260px;
  height: 184px;
  padding: 32px;
  background-color: #f5f5f5;
}

.detail-info .info-box p {
  font-size: 18px;
  line-height: 1.778;
  font-weight: 700;
  margin-bottom: 32px;
}

.detail-info .fa-arrow-circle-right {
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 56px;
}

/* UpToHeader */

.UpToHeader {
  padding: 0 20px;
  border-top: 1px solid #f5f5f5;
}

.UpToHeader a {
  padding: 0 20px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 1.571;
}

/* footer */

footer {
  padding: 64px 20px 40px 20px;
  background-color: #f5f5f5;
}

.footer-featureLinks {
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.footer-featureLinks h1 {
  font-size: 16px;
  margin-bottom: 12px;
}

.footer-featureLinks p {
  font-size: 14px;
  line-height: 1.571;
  margin-bottom: 15px;
}

.footer-featureLinks .footer-subscript {
  display: inline-block;
  color: #fff;
  padding: 12px 20px 12px 20px;
  border-radius: 20px;
  border: 0 transparent;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  background-color: #000;
}

footer ol {
  margin-bottom: 40px;
}

footer ol li {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  padding: 32px 0;
  border-bottom: 1px solid rgb(223, 223, 223);
}

footer ol li .fa-chevron-down {
  position: absolute;
  right: 0;
  font-size: 20px;
}

.footer-footer {
  color: #484848;
}

footer ul {
  display: flex;
  margin-bottom: 32px;
}

footer ul li {
  width: 34px;
  height: 34px;
  text-align: center;
  padding: 4px 4px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 100%;
  margin-right: 20px;
}

.nature {
  display: flex;
  margin-bottom: 32px;
}

.nature a,
button {
  display: inline-block;
  height: 40px;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #dfdfdf;
  border-radius: 64px;
  text-align: center;
  background-color: inherit;
}

.nature a {
  display: flex;
  padding: 10px 10px;
  margin-right: 15px;
}

.nature .fa-globe {
  margin-right: 3px;
}

.nature a i {
  font-size: 19px;
  line-height: 1.263157894736842;
  width: 24px;
  height: 24px;
}

.nature button {
  padding: 10px 15px;
  margin-right: 10px;
}

.nature .fa-chevron-down {
  margin-left: 20px;
}

.nature div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-info p {
  font-size: 12px;
  color: #484848;
  line-height: 1.571;
  margin-bottom: 20px;
}

.footer-info p:last-child {
  margin-bottom: 0;
}

.footer-info ul {
  display: block;
  text-align: left;
  margin-bottom: 20px;
}

.footer-info li {
  display: inline-block;
  width: auto;
  height: auto;
  font-size: 12px;
  font-weight: 400;
  color: #111;
  margin-right: 20px;
  padding: 8px 0;
  border: none;
}

/* >= 768px (tablets) */
@media screen and (min-width: 768px) {
  /* header */
  header {
    display: flex;
    justify-content: center;
    height: 38.85px;
    line-height: 1.571;
    color: #fff;
    position: relative;
    background-color: rgb(0, 0, 0);
    padding: 0 20px;
  }

  header a {
    margin-right: 40px;
  }

  header .fas {
    margin-right: 12px;
  }

  header .header-mobile-none {
    display: inline-flex;
  }

  /* banner */

  .banner {
    margin: 0 48px;
  }

  .banner-group {
    position: relative;
  }

  .IKEA-logo {
    width: 90px;
    height: 36px;
    margin: 28px 0;
  }

  .banner .search {
    width: calc(100% - 300px);
    position: absolute;
    top: 50%;
    left: 120px;
    transform: translateY(-50%);
  }

  .search form {
    width: 100%;
  }

  .banner form input {
    width: 100%;
    height: 54px;
    font-size: 16px;
    padding: 8px 54px;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 100px;
    margin-bottom: 0px;
  }

  .banner .search img {
    top: 10px;
    padding: 7px;
  }

  .banner .search .camera-img {
    right: 20px;
  }

  .banner .search .loupe-img {
    left: 20px;
  }

  /* capmpain */

  .campain {
    width: 100%;
    margin: 64px 48px;
  }

  .campain-desc {
    padding: 80px;
  }

  .campain-desc h1 {
    font-size: 25px;
  }

  .campain-desc p {
    font-size: 14px;
    margin-bottom: 32px;
  }

  .campain-desc button {
    padding: 0 24px;
  }

  /* promotion */

  .promotion {
    margin: 64px 48px;
  }

  .promotion .promotion-title {
    font-size: 25px;
  }

  .promotion-list .list-box {
    width: 296px;
    height: 398px;
  }

  .promotion-list img {
    display: block;
    width: 100%;
  }

  .promotion-list h2 {
    font-size: 25px;
  }

  /* notice */

  .notice {
    margin: 64px 48px;
    padding: 80px;
  }

  .notice h1 {
    font-size: 25px;
  }

  /* recommend-product */

  .recommend-product {
    margin: 64px 48px;
  }

  .recommend-product h1 {
    font-size: 25px;
    line-height: 1.36;
    font-weight: 700;
  }

  .recommend-product-list .user-like {
    display: none;
  }

  .recommend-product-list:hover .user-like {
    display: inline-flex;
  }

  .recommend-product-list {
    width: 196px;
  }

  .recommend-product-list img {
    width: 100%;
    margin-bottom: 30px;
  }

  .recommend-product-desc {
    position: relative;
  }

  .recommend-product-desc h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42857;
    margin: 0;
  }

  .recommend-product-desc p {
    line-height: 1.42857;
    margin-bottom: 8px;
  }

  .recommend-price-box .fa-won-sign {
    font-size: 11px;
    line-height: 0.9;
  }

  .recommend-price-box .recommend-price {
    font-size: 22px;
  }

  .recommend-product-desc .fa-shopping-basket {
    position: absolute;
    bottom: 60px;
    right: 48px;
  }

  .recommend-product-desc .shopping-bucket {
    display: none;
  }

  .recommend-product-list:hover .shopping-bucket {
    display: inline-flex;
  }

  /* new-product */

  .new-product {
    position: relative;
    margin: 64px 48px;
  }

  .new-product h2 {
    font-size: 25px;
    line-height: 1.36;
  }

  .new-product-img-box {
    display: flex;
    justify-content: space-between;
  }

  .new-product img {
    width: 95%;
  }

  .new-product .new-product-deail-info {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 130px;
    height: 40px;
    font-size: 12px;
    line-height: 1.3333333333;
    white-space: nowrap;
    padding: 0 24px;
    border: 1px solid #dfdfdf;
    border-radius: 84px;
    margin: 0;
  }

  .new-product .fa-chevron-right {
    display: none;
  }

  /* office-product */

  .office-product {
    position: relative;
    margin: 64px 48px;
  }

  .office-product h2 {
    font-size: 25px;
    line-height: 1.36;
  }

  .office-product-img-box {
    display: flex;
    justify-content: space-between;
  }

  .office-product .office-product-desc {
    font-size: 14px;
    color: #484848;
    line-height: 1.571;
    margin-bottom: 32px;
  }

  .office-product img {
    width: 95%;
  }

  .office-product .office-product-deail-info {
    position: absolute;
    top: 30px;
    right: 0px;
    width: 200px;
    height: 40px;
    font-size: 12px;
    line-height: 1.3333333333;
    white-space: nowrap;
    padding: 0 24px;
    border: 1px solid #dfdfdf;
    border-radius: 84px;
    margin: 0;
  }

  .office-product .fa-chevron-right {
    display: none;
  }

  /* solution */

  .solution {
    margin: 64px 48px;
  }

  .solution h1 {
    font-size: 25px;
    line-height: 1.36;
  }

  /* magagine */

  .magagine-list {
    flex-direction: row;
    margin: 64px 48px;
  }

  .magagine-list img {
    display: block;
    width: 45%;
    margin-bottom: 0;
  }

  .magagine-list-box {
    margin-bottom: 40px;
  }

  .magagine-list-box:last-child {
    margin-bottom: 0;
  }

  .magagine-list-box img {
    width: 280px;
    margin-bottom: 16px;
  }

  .magagine-list-box button {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3333333333;
    padding: 0 24px;
  }
}
